<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ITS.Data">
        <section name="settings" type="ITS.Data.Configuration.ConfigurationSetting,ITS.Data"/>
    </sectionGroup>
  </configSections>
  <ITS.Data>
    <settings cache="false" logging="true" trace="true">      
        <entities>
          <!--<add key="wfk.Emp1" value="300"></add>-->
        </entities>      
    </settings>
  </ITS.Data>
</configuration>