<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <!--<include path="~/Content/bootstrap-combined.min.css" />-->
    <include path="~/Content/font-awesome.min.css" />
    <include path="~/Content/ionicons.min.css" />
    <include path="~/Content/AdminLTE/AdminLTE.css" />
    <include path="~/Content/AdminLTE/skins/_all-skins.css" />
    <include path="~/Content/iCheck/square/blue.css" />
    <include path="~/Content/ngf.portal.css" />
    <include path="~/Content/ngf.framework.css" />
    <include path="~/Content/alertifyjs.css" />
    <include path="~/Content/alertify.css" />
  </styleBundle>
</bundles>