<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="ITS.WebFramework" type="ITS.WebFramework.Configuration.WFKSection, ITS.WebFramework.Configuration"/>    
  </configSections>
  <ITS.WebFramework>
    <globalSettings>
      <add key="PermissionServiceUrl" value="http://o-a3b2.qgroup.corp.com/PermissionManagement/PermissionService.asmx"/>
      <!--<add key="PermissionServiceUrl" value="http://aic0-s2.qgroup.corp.com:8011/PermissionManagement/PermissionService.asmx"/>-->
    </globalSettings>
    <systemSettings>      
      <add key="SystemName" value="PermissionManagement"/>
      <add key="SSODebugOrgName" value="Global"/>
      <add key="SSODebugProductName" value="Administration"/>
      <add key="SSODebugUserName" value="William.Chen"/>
      <!--<add key="SSODebugPortalUrl" value="http://aic0-s2.qgroup.corp.com/wfk/default.aspx"/>-->
      <add key="SSODebugPortalUrl" value="http://aic0-s2.qgroup.corp.com:8011/wfk/default.aspx" />
      <!--<add key="SSODebugPortalUrl" value="http://o-a3b2/NGFPortal/Portal"/>-->      
      <add key="PublicAssemblyPaths" value=""/>
      <add key="DebugMode" value="true"/>
    </systemSettings>
  </ITS.WebFramework>
  <connectionStrings>
    <!--<add name="system" connectionString="Data Source=10.85.17.209\cim;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="ngf" connectionString="Data Source=10.85.17.209\cim;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="WebFramework" connectionString="data source=aic0-s2.qgroup.corp.com\bach;initial catalog=wfk_rd;persist security info=False;user id=sa;password=123456;packet size=4096" providerName="System.Data.SqlClient"/> -->
    <add name="system" connectionString="data source=10.85.129.75\MSSQLSERVER2016;initial catalog=NGF;persist security info=False;user id=sa;password=bqc123!@#;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="ngf" connectionString="data source=10.85.129.75\MSSQLSERVER2016;initial catalog=NGF;persist security info=False;user id=sa;password=bqc123!@#;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="WebFramework" connectionString="data source=10.85.129.75\MSSQLSERVER2016;initial catalog=NGF;persist security info=False;user id=sa;password=bqc123!@#;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="wscConnectionString" connectionString="data source=aic0-s2.qgroup.corp.com\ipcht;initial catalog=FrameWSC_S2;persist security info=False;user id=sa;password=123456;packet size=4096" providerName="System.Data.SqlClient" />
    <!--<add name="system" connectionString="Data Source=10.85.17.209\aic0;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>
    <add name="ngf" connectionString="Data Source=10.85.17.209\aic0;user id=sa;password=123456;initial catalog=Cube;Connect Timeout=300;packet size=4096" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="NGFAuthMode" value="WFK"/> <!--WSC|WFK|NGF-->
    <!--<add key="WscServiceUrl" value="http://10.85.129.44/WSCService/WSCService.asmx"/>-->
    <add key="NGFSystemMode" value="Mulity"/> <!--Single|Mulity-->
    <add key="NGFSystemId" value="cb122e74-287b-4da6-b739-34daafac1e64"/>
    <add key="PermissionSystemId" value="E18078BA-5946-4959-ABB4-9023FA19E405"/>
    <add key="WfkResourceUrl" value="http://aic0-s2.qgroup.corp.com:8011/wfk/"/>
    <add key="NGFSystemName" value="NGF Demo"/>
    <add key="NGFEnvironment" value="Dev"/> <!--Dev|Stag|Prod-->
    <add key="NGFEnvironmentVisible" value="true"/>
    <!--<add key="NGFPortalHeaderInfo" value="Copyright 2017 by Moses&#169; &lt;strong&gt; WebFramework GT&lt;/strong&gt;"/>-->
    <add key="NGFPortalFooterInfo" value="Copyright 2017 by ITS&#169; &lt;strong&gt; NGF &lt;/strong&gt;"/>
    
    <add key="NGFNtAuth" value="true"/>
    <add key="NGFNtProduct" value="Global"/>
    <add key="NGFNtOrg" value="Global"/>
    
    <add key="NGFCleanVersion" value="true"/>
    <add key="NGFCleanVersionDefaultDomain" value="Global"/>       
    
    <!--WSC-->
    <add key="SYSTEM_ID" value="MosesTestSys"/>
		<add key="SYSTEM_NAME" value="Moses Test System"/>
		<add key="User_Information" value="User-defined Information"/>
		<add key="System_Version" value="V1.0000.00"/>
		<add key="WSC_PageStart" value=""/>
		<add key="WSC_FrameAbout" value="FrameAbout.aspx"/>
		<add key="Domain" value=".corp.com"/>
		<add key="MoudleSecurity" value=""/>
		<add key="WSC_Render_Calendar_Before_Year" value="5"/>
		<add key="WSC_Render_Calendar_After_Year" value="10"/>
		<!-- WSC 测试环境 -->
		<!--<add key="wscConnectionString" value="Z2okrmMze5ZI7b2gqGqXa8jsAnR8jf1yPi5fwu0bLgwW5HyjhNMuIXnJScydMe0moDoMKfsAnRbj/HXHxTHltVsojlU6cfwC3OxCSta8c9UCFnU/5QXt0jhLzpZUVh5FzPROYzDKqWeto0KRwKsdmQvY6bBffeXK4naNMt2Lzftd0QX0ionb9Q=="/>-->
		<add key="wscConnectionString" value="Z2okrmMze5ZI7b2gqGqXa8jsAnR8jf1yuNQ2R4us7vD7Ms0GQrCAKy1A/VFr9yDWyKDBrNF4O5MB7cXtw5ZYaypacm1OSJZ+ws50UT+yDHfhJPq+3qnHw+2PTnjfChGCeFPCtP24tzht+H3nqLJecXkTog76NDtOiz4NdhnkcmuErHRzLYkF14BOyF2BA0aU"/>
		<!--<add key="wscConnectionString" value="Z2okrmMze5a40EZfcwWeIUU5eKSruaKMVfmz8ccsni4Ro6c42a2ohsLLuifJbIMDZZ9Im3CaGqZpTDlWdfjqUBuwyB02yhbzPcYYFJjTyYbJiTF2q/KHThzYQrvE4g0VnHz7xYvxbsdBHidRoMWYh7J1f+t+i/AG3rx5ObBX0Pg="/>-->
		<!-- WSC 真实环境 -->
		<!--<add key="wscConnectionString" value="Z2okrmMze5YgMXq6b64x3UAxbzsilzLsBbkepYMbtnQhCa6DjYsmKyVt1P7FO3RHrkTRZxQhZ/Vy3AjSkQNXPcJdVZggoIzO3Q9ps4+I86RRzFI5Kc1RcSqWmIr8PsTbwkOzdoIJub3/6mYLDe7vg4h04ZUEafBj8xQKAyS0PRc="/>-->
		<!-- Local 测试环境 -->
		<add key="LocalConnectionString" value="User id=sa;Password=123456;Database=AUOEMP_RD;Server=AIC0-S2\IPCHT;Connect Timeout=50;Max Pool size=200;Min pool Size=5"/>
		<!-- Local 真实环境 -->
		<!--<add key="LocalConnectionString" value="User id=fmsUser;Password=;Database=FMS;Server=PortalTest;Connect Timeout=50;Max Pool size=200;Min pool Size=5"/>-->
		<!--<add key="SessionDSN" value="data source=aic0-s2\ip;initial catalog=FrameWSC;persist security info=False;user id=aic0_ip;password=AIC0#1234;packet size=4096"/>-->
		<add key="PAGE_FADE_OUT_EFFECT_SWTICH" value="true"/>
  </appSettings>
  <system.web>
    <!--<authentication mode="None"/>-->
    <authentication mode="Windows"/>
    <compilation debug="true" targetFramework="4.5"/>
    <!--<httpRuntime maxRequestLength="10240" appRequestQueueLimit="100" useFullyQualifiedRedirectUrl="true" executionTimeout="1200" />-->
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Optimization"/>
        <add namespace="Microsoft.AspNet.Identity"/>
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt"/>
      </controls>
    </pages>
    <membership>
      <providers>
        <!--
        ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </membership>
    <profile>
      <providers>
        <!--
        ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
        <clear/>
      </providers>
    </profile>
    <roleManager>
      <!--
          ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        -->
      <providers>
        <clear/>
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection"/>
      </providers>
    </sessionState>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="HttpSoap"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication"/>
      <add name="NGFHttpModule" type="NGF.Base.NGFHttpModule"/>
    </modules>
    <staticContent>
      <remove fileExtension=".woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff" mimeType="font/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="xapapplication/x-silverlight"/>
    </staticContent>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="10240000"></jsonSerialization>
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding>
    </assemblyBinding>
  </runtime>
</configuration>